include _mixins

doctype html
html(lang='en')
  + getHead('Ermolaev-code')
  body
    .wrapper
      main.page
        .about
          .container
            .about__title
              h1 Sergei Ermolaev
              span Front-end developer
            .about__social
              .github
                a(href="https://github.com/ermolaev-code")
                  img(src="assets/images/github.png" alt="github/ermolaev-code" title="github/ermolaev-code")
    + getScripts()