@font-face {
  font-family: "Salma-alfasans-light";
  src: url(../fonts/Salma-alfasans-light.otf);
}

@font-face {
  font-family: "Salma-alfasans-light-italic";
  src: url(../fonts/Salma-alfasans-light-italic.otf);
}

html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Salma-alfasans-light";
  background-color: #2596be;
}

.layout,
.layout-has-sidebar {
  display: flex;
  flex: auto;
  flex-direction: column;
  min-height: 100vh;
}

.layout-has-sidebar {
  flex-direction: row;
}

.sidebar {
  width: 176px;
  background-color: #2088ad;
  color: white;
  padding: 12px;
}

.sidebar h2 {
  margin: 0;
  padding: 0;
}

.apps-list {
  list-style: none;
}

.apps-list li {
  cursor: pointer;
}

.apps-list a {
  color: white;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: flex-end;
  padding: 6px 24px;
}

.git-hub-link img {
  width: 32px;
  height: 32px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 3;
}

.preview {
  color: #ffffff;
  user-select: none;
}

.preview .title {
  font-size: 5vw;
}
