@font-face {
  font-family: "Salma-alfasans-light";
  src: url(../assets/fonts/Salma-alfasans-light.otf);
}

@font-face {
  font-family: "Salma-alfasans-light-italic";
  src: url(../assets/fonts/Salma-alfasans-light-italic.otf);
}
